{% extends "base.html" %}

{% block title %}
    Add new image
{% endblock %}

{% block body %}

    <div class="container py-5 my-5 d-flex justify-content-center">
        <form 
            method="POST" 
            action="" 
            enctype="multipart/form-data" 
            class="d-inline-block border border-dark p-5 rounded"
        >
            {% csrf_token %}
            <h3 class="mb-5">Add New Image</h3>
            {{ form.as_p }}
            <div class="mt-5 d-flex justify-content-end">
                <button type="submit" class="py-2 px-4 bg-success text-light border-0 rounded">
                    Submit
                </button>
            </div>
        </form>
    </div>

{% endblock %}